# Régression linéaire multiple

In [2]:
# Importer les librairies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

---
## Les entreprises

### Import des données

In [ ]:
# le dataset
data = pd.read_csv('entreprises.csv')
data.head()

In [ ]:
# matrice X, vecteur y
X = data.drop('Profit', axis=1)
X.head()

In [ ]:
# vecteur y
y = data['Profit']
y.head()

### Gestion des variables catégoriques

In [ ]:
# avec pd.get_dummies
dummy = pd.get_dummies(X['State'])
X = pd.concat([X,dummy], axis=1)
X.drop(['State','California'], axis=1, inplace=True)
X.head()

In [ ]:
# avec OneHotEncoder
X = data.iloc[:, :-1].values
y = data.iloc[:, -1:].values

from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(categories ='auto')
enc = enc.fit_transform(X[:,3].reshape(-1,1)).toarray()
X = np.hstack((X[:,:3],enc[:,1:]))
X[:5,:]

### Création d'un échantillon d'entraînement et un échantillon de test

In [ ]:
# "à la main"
tirage = np.random.rand(len(data))
msk =  tirage < np.percentile(tirage,80)
X_train = X[msk]
X_test = X[~msk]
y_train = y[msk]
y_test = y[~msk]
#print(len(train),len(test))

In [ ]:
X_train.head(3)

In [ ]:
y_train.head(3)

In [ ]:
# avec scikit-learn
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

### Construction du modèle et prédictions

#### Avec Sckit-learn

In [ ]:
# avec scikit-learn
from sklearn.linear_model import LinearRegression
model = LinearRegression()
results = model.fit(X_train, y_train)

test_pred = pd.DataFrame()
test_pred['profit'] = y_test
test_pred['profit_pred']=model.predict(X_test)
test_pred

In [ ]:
print('score : ', model.score(X_train,y_train),
      '\nconstante : ', results.intercept_,
      '\ncoefficients : ', results.coef_)

#### Avec statsmodel

In [ ]:
#Construction du modèle
from statsmodels.api import OLS, add_constant
model2 = OLS(y_train, add_constant(X_train))
results2 = model2.fit()

In [ ]:
# Évaluation du modèle
results2.summary()

In [ ]:
# Nouvelles prédictions
results2.predict(add_constant(X_test))

---
## Les appartements

### Import des données

In [3]:
# le dataset
data = pd.read_csv('apparts.csv')
data.head()

   taille_en_pieds_carre  nb_chambres    prix
0                   2104            3  399900
1                   1600            3  329900
2                   2400            3  369000
3                   1416            2  232000
4                   3000            4  539900

In [ ]:
# matrice X, vecteur y

In [ ]:
# vecteur y

### Gestion des variables catégoriques

### Création d'un échantillon d'entraînement et un échantillon de test

### Construction du modèle et prédictions

In [ ]:
#Construction du modèle

In [ ]:
# Évaluation du modèle

In [ ]:
# Nouvelles prédictions

---
## Les salaires

### Import des données

In [4]:
# le dataset
data = pd.read_csv('salaires.csv')
data.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000