### Exo : utiliser la méthode apply pour déterminer le nombre de valeurs manquantes dans chaque colonne

Une indication : il faut d'abord définir une fonction

In [ ]:
def count_na(series):
    return series.isnull().sum()

In [ ]:
titanic.apply(count_na, axis=0)

### Exo : utiliser la méthode apply pour créer une nouvelle variable age_label dans le dataframe contenant 'minor' si la personne a moins de 18 ans, 'adult' si son age est supérieur ou égal à 18 ans et 'unknown' sinon

Indications : Procéder par étape ! On définira d'abord une fonction, qu'on appliquera au dataframe et on stockera le résultat dans une nouvelle colonne

In [1]:
def minor(row):
    if pd.isnull(row['age']):
        return 'unknown'
    elif row['age']<18:
        return 'minor'
    else:
        return 'adult'

In [2]:
titanic["age_label"]=titanic.apply(minor, axis=1)

NameError: name 'titanic' is not defined

In [ ]:
titanic.head(16)

### Exo : calculer le pourcentage de survie par groupe d'âge (majeur/mineur)

Indication : l'exercice précédent a quasiment fait tout le boulot...

In [ ]:
titanic.pivot_table(index ="age_label", values = "survived")